<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Base">
            <file>./tests/unit/BinPackingTest.php</file>
        </testsuite>
        <testsuite name="PackIntoMany">
            <file>./tests/unit/PackIntoManyTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
